In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in d:\class\anaconda\lib\site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in d:\class\anaconda\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: prettytable<1 in d:\class\anaconda\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in d:\class\anaconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in d:\class\anaconda\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in d:\class\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in d:\class\anaconda\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: matplotlib-inline in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pygments in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: setuptools>=18.5 in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: decorator in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pickleshare in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in d:\class\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\class\anaconda\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in d:\class\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in d:\class\anaconda\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [3]:
%load_ext sql

In [4]:
%sql sqlite://

In [5]:
%%sql
CREATE TABLE World
(
name varchar(15),
continent varchar(15),
area float,
population float,
gdp float
);

 * sqlite://
Done.

[]

In [6]:
%%sql
INSERT INTO World VALUES
('Afghanistan', 'Asia', 652230, 25500100, 20343000),
('Albania', 'Europe', 28748, 2831741, 12960000),
('Algeria', 'Africa', 2381741, 37100000, 188681000),
('Andorra', 'Europe', 468, 78115, 3712000),
('Angola', 'Africa', 1246700, 20609294, 100990000);

 * sqlite://
5 rows affected.

[]

In [7]:
%%sql
select * from World;

 * sqlite://
Done.

[('Afghanistan', 'Asia', 652230.0, 25500100.0, 20343000.0),
 ('Albania', 'Europe', 28748.0, 2831741.0, 12960000.0),
 ('Algeria', 'Africa', 2381741.0, 37100000.0, 188681000.0),
 ('Andorra', 'Europe', 468.0, 78115.0, 3712000.0),
 ('Angola', 'Africa', 1246700.0, 20609294.0, 100990000.0)]

In [8]:
%%sql
select name,population,area from World
where area > 3000000 or population > 25000000;

 * sqlite://
Done.

[('Afghanistan', 25500100.0, 652230.0), ('Algeria', 37100000.0, 2381741.0)]